DB_HOST=localhost
DB_PORT=5433
DB_NAME=RIP
DB_USER=root
DB_PASS=root
JWT_SECRET=lab4-jwt-secret-change-me
JWT_TTL_MINUTES=120
APP_PORT=8080
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=password
REDIS_DB=0
REDIS_TIMEOUT_SECONDS=3
SESSION_TTL_MINUTES=120
SESSION_KEY_PREFIX=lab4:sessions:
